html {
  height: 100%;
}
/*
body {
  background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
  background-image: -webkit-radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}
EFEFFA
*/

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  color: lime;
  margin-bottom: 20px;
}

h1 { text-transform: uppercase; font-family: fantasy; }
span { font: 0.8em monospace, Helvetica; }

.loader {
  position: absolute;
  top: calc(50% - 62px);
  left: calc(50% - 82px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  perspective: 800px;
  -webkit-perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  -webkit-animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #2323F2;
}

.inner.two {
  right: 0%;
  top: 0%;
  -webkit-animation: rotate-two 1s linear infinite;
  border-right: 3px solid #2323F2;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  -webkit-animation: rotate-three 1s linear infinite;
  border-top: 3px solid #2323F2;
}

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
