/*
font-family: Garamond,'Apple Garamond','Lucida Sans Unicode';
*/

html, body {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
}

body { overflow: hidden; }

#win-ctrl {
	background: -webkit-linear-gradient(top, rgb(255,255,255) 0, rgb(225,225,225) 100%);
	border-bottom: 1px solid rgb(205, 205, 205);
	-webkit-app-region: drag;
	-webkit-user-select: none;
	padding: 4px 20px;
	width: 100%; height: 25px;
	border: 1px solid white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.btn-win {
	margin: 0;
	width: 100px;
}

.btn-control {
	width: 16px;
	height: 16px;
	display: inline-block;
	line-height: initial;
	margin-right: 3px;
	border-radius: 50px;
	background-color: rgb(0,0,0);
	transition: transform 200ms;
	-webkit-app-region: no-drag;
	outline: none;
}

#windowControlClose {
	background-color: hsla(4, 90%, 58%, 1);
}

#windowControlMinimize {
	background-color: hsla(45,100%,51%,1);
}

#windowControlMaximize {
	background-color: hsla(122,39%,49%,1);
}

#titulo {
	margin: 0;
	width: 160px; height: 20px;
	font-size: 0.8em;
	color: black;
	text-shadow: 1px 1px 1px white;
}

input:invalid,
input:invalid {
	border: 4px solir red;
	background-color: rgba(255,0,0,0.2);
	color: white;
}

.mastHeight,
.ui.grid {
    height: 100%;
}
